@page
@model EntryModel
@{
    ViewData["Title"] = "Blog entry";
}

<form method="post">
    <div class="row">
        <input type="hidden" name="id" value="@Model.Entry.Id" />

        <div class="col-md-12">
            Caption
        </div>
        <div class="col-md-12">
            <input name="caption" id="caption" type="text" style="width:100%" value="@Model.Entry.Caption" required />
        </div>

        <p>&nbsp;</p>

        <div class="col-md-12">
            Text
        </div>
        <div class="col-md-12">
            <textarea id="text" name="text" style="width:100%" rows="10">@Model.Entry.Text</textarea>
        </div>

        <p>&nbsp;</p>
    </div>

    @if (!Model.Login)
    {
    <p>To edit this record you need to <a href="@Url.Page("Login", new { return_url = Request.PathBase + Request.Path + Request.QueryString.Value })">Log in</a></p>
    <button asp-page-handler="Back" formnovalidate class="btn btn-secondary">Back</button>
    }
    else
    {
    <button asp-page-handler="Register" class="btn btn-primary">Save</button>
    <button asp-page-handler="Delete" formnovalidate class="btn btn-secondary">Delete</button>
    <button asp-page-handler="Back" formnovalidate class="btn btn-secondary">Back</button>
    }
</form>


@section Scripts {
    <script>

    </script>
}
